body{
    background-color: rgb(219, 219, 219);
}

.captcha{
    /*margin-left: 20px;*/
    display: flex;
    width: 120px;
}
.captcha_image{
    width: 250px;
    /*border: 1px solid;*/
    margin-right: 25px;
}
.captcha_input input{
    width: 100px;
}

#formComment{
    display: flex;
    flex-direction: column;
}

#btn-submit{
    margin-left: auto;
    height: 46px;
}

.check_captcha_success{
    color: forestgreen;
    font-weight: bold;
}